.title-field[b-swssegiuyr] {
    border: 1px solid black;
    background-color: lightgrey;
}

.user-field[b-swssegiuyr] {
    border: 1px solid black;
    background-color: lightblue;
}

.body-field[b-swssegiuyr] {
    border: 1px solid black;
    background-color: lightcoral;
}