@page "/FetchData"
@using Application.LogicInterfaces
@using Application.Logic
@using Domain.Models
@inject HttpClient Http
@inject IPostLogic postLogic

<PageTitle>Weather forecast</PageTitle>

<h1>Posts</h1>

@if (posts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in posts)
        {
            <tr>
               <td>@post.title</td>
               <td>@post.body</td>
               <td>@post.user</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private DataPosts[] posts;

    protected override async Task<IEnumerable<Post>> OnInitializedAsync()
    {
        posts = postLogic.GetAsyncAll().Result.ToArray();
    }

    public class DataPosts
    {
        public string title { get; set; }

        public string body { get; set; }

        public string user { get; set; }
    }

}