@page "/LoginPage"
@using BlazorApplication.Services
@inject IAuthService authService
@inject NavigationManager navMgr

<AuthorizeView>
    <NotAuthorized>
        <h4>Login:</h4>
        
        <div class="Login-box">
            <h3>Username:</h3>
            <input id="username" @bind="username">
            <br/>
            <h3>Password:</h3>
            <input input type="password" id="password" @bind="password">
            <br/>
            <button class="btn btn-success" @onclick="LoginAsync">Login</button>
            <button class="btn btn-secondary" @onclick="@(() => navMgr.NavigateTo($"/UserSignUpPage"))">Sign up</button>
            <br/>
            <p>@errorLabel</p>
        </div>
    </NotAuthorized>
    <Authorized>
        <p>You are already logged in...</p>
    </Authorized>
</AuthorizeView>

@code {
    private string username;
    private string password;
    private string errorLabel;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(username, password);
            navMgr.NavigateTo("/ViewPosts");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }
}