table, th, td {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 500px;
    text-align: center;
    font-size: 20px;
}

td.body-table-data
{
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.title-table-data {
    max-width: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.username-table-data {
    max-width: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td.button-table-data {
    max-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}